@import "tailwindcss";

@layer base {
  :root {
    /* Kudwa Brand Colors */
    --kudwa-brown: #b09280;
    --kudwa-yellow: #eae62f;
    --kudwa-blue: #698ac5;
    --kudwa-dark: #262626;
    --kudwa-light: #fbfafa;

    --kudwa-brown-100: color-mix(in srgb, var(--kudwa-brown) 20%, white);
    --kudwa-brown-200: color-mix(in srgb, var(--kudwa-brown) 40%, white);
    --kudwa-brown-300: color-mix(in srgb, var(--kudwa-brown) 60%, white);
    --kudwa-brown-400: color-mix(in srgb, var(--kudwa-brown) 80%, white);
    --kudwa-brown-500: var(--kudwa-brown);
    --kudwa-brown-600: color-mix(in srgb, var(--kudwa-brown) 80%, black);
    --kudwa-brown-700: color-mix(in srgb, var(--kudwa-brown) 60%, black);
    --kudwa-brown-800: color-mix(in srgb, var(--kudwa-brown) 40%, black);
    --kudwa-brown-900: color-mix(in srgb, var(--kudwa-brown) 20%, black);

    --kudwa-blue-100: color-mix(in srgb, var(--kudwa-blue) 20%, white);
    --kudwa-blue-200: color-mix(in srgb, var(--kudwa-blue) 40%, white);
    --kudwa-blue-300: color-mix(in srgb, var(--kudwa-blue) 60%, white);
    --kudwa-blue-400: color-mix(in srgb, var(--kudwa-blue) 80%, white);
    --kudwa-blue-500: var(--kudwa-blue);
    --kudwa-blue-600: color-mix(in srgb, var(--kudwa-blue) 80%, black);
    --kudwa-blue-700: color-mix(in srgb, var(--kudwa-blue) 60%, black);
    --kudwa-blue-800: color-mix(in srgb, var(--kudwa-blue) 40%, black);
    --kudwa-blue-900: color-mix(in srgb, var(--kudwa-blue) 20%, black);

    --kudwa-yellow-100: color-mix(in srgb, var(--kudwa-yellow) 20%, white);
    --kudwa-yellow-200: color-mix(in srgb, var(--kudwa-yellow) 40%, white);
    --kudwa-yellow-300: color-mix(in srgb, var(--kudwa-yellow) 60%, white);
    --kudwa-yellow-400: color-mix(in srgb, var(--kudwa-yellow) 80%, white);
    --kudwa-yellow-500: var(--kudwa-yellow);
    --kudwa-yellow-600: color-mix(in srgb, var(--kudwa-yellow) 80%, black);
    --kudwa-yellow-700: color-mix(in srgb, var(--kudwa-yellow) 60%, black);
    --kudwa-yellow-800: color-mix(in srgb, var(--kudwa-yellow) 40%, black);
    --kudwa-yellow-900: color-mix(in srgb, var(--kudwa-yellow) 20%, black);
  }
}

@theme {
  --color-kudwa-yellow: var(--kudwa-yellow);
  --color-kudwa-brown: var(--kudwa-brown);
  --color-kudwa-blue: var(--kudwa-blue);
  --color-kudwa-dark: var(--kudwa-dark);
  --color-kudwa-light: var(--kudwa-light);

  --color-kudwa-brown-100: var(--kudwa-brown-100);
  --color-kudwa-brown-200: var(--kudwa-brown-200);
  --color-kudwa-brown-300: var(--kudwa-brown-300);
  --color-kudwa-brown-400: var(--kudwa-brown-400);
  --color-kudwa-brown-500: var(--kudwa-brown-500);
  --color-kudwa-brown-600: var(--kudwa-brown-600);
  --color-kudwa-brown-700: var(--kudwa-brown-700);
  --color-kudwa-brown-800: var(--kudwa-brown-800);
  --color-kudwa-brown-900: var(--kudwa-brown-900);

  --color-kudwa-blue-100: var(--kudwa-blue-100);
  --color-kudwa-blue-200: var(--kudwa-blue-200);
  --color-kudwa-blue-300: var(--kudwa-blue-300);
  --color-kudwa-blue-400: var(--kudwa-blue-400);
  --color-kudwa-blue-500: var(--kudwa-blue-500);
  --color-kudwa-blue-600: var(--kudwa-blue-600);
  --color-kudwa-blue-700: var(--kudwa-blue-700);
  --color-kudwa-blue-800: var(--kudwa-blue-800);
  --color-kudwa-blue-900: var(--kudwa-blue-900);

  --color-kudwa-yellow-100: var(--kudwa-yellow-100);
  --color-kudwa-yellow-200: var(--kudwa-yellow-200);
  --color-kudwa-yellow-300: var(--kudwa-yellow-300);
  --color-kudwa-yellow-400: var(--kudwa-yellow-400);
  --color-kudwa-yellow-500: var(--kudwa-yellow-500);
  --color-kudwa-yellow-600: var(--kudwa-yellow-600);
  --color-kudwa-yellow-700: var(--kudwa-yellow-700);
  --color-kudwa-yellow-800: var(--kudwa-yellow-800);
  --color-kudwa-yellow-900: var(--kudwa-yellow-900);

  --shadow-soft: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
}

body {
  background: var(--kudwa-light);
  color: var(--kudwa-dark);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@utility container {
  @apply flex flex-col mx-auto h-screen overflow-hidden px-10 py-6;
}

@utility btn-base {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  transition: colors 0.2s;
  outline: none;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border: 1px solid transparent;
  transition: 0.15s;
  width: fit-content;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  $:active {
    border: inherit;
  }
}

@utility btn-sm {
  border-radius: 0.3rem;
  padding: 0.375rem 0.25rem;
  font-size: 0.875rem;
  font-size: 0.875rem;
  line-height: 1.25;
  gap: 0.3rem;
  height: 1.5rem;
  svg {
    width: 0.8rem;
    height: 0.8rem;
  }
}

@utility btn-md {
  border-radius: 0.4rem;
  padding: 0rem 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  gap: 0.3rem;
  height: 2.25rem;
  svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@utility btn-primary {
  background-color: var(--kudwa-brown-100);
  color: var(--kudwa-brown-400);
  &:hover {
    background-color: var(--kudwa-brown-300);
    border-color: var(--kudwa-brown-300);
    color: var(--kudwa-light);
  }
}

@utility btn-secondary {
  background-color: var(--kudwa-brown-300);
  color: var(--kudwa-light);
  &:hover {
    background-color: var(--kudwa-brown-400);
  }
}

@utility btn-tertiary {
  background-color: var(--kudwa-brown);
  color: var(--kudwa-light);
  &:hover {
    background-color: var(--kudwa-brown-300);
    border-color: var(--kudwa-brown-100);
  }
}

@utility btn-ghost {
  background-color: #eee;
  color: var(--kudwa-dark);
  &:hover {
    background-color: #aaa;
    color: var(--kudwa-light);
  }
}

@utility btn-success {
  background-color: var(--kudwa-blue-100);
  color: var(--kudwa-blue-400);
  &:hover {
    background-color: var(--kudwa-blue-300);
    border-color: var(--kudwa-blue-300);
    color: var(--kudwa-light);
  }
}
